{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="{% static 'assets/css/global/global.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/pages/cadastro/partials/section1.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/pages/cadastro/cadastro.css' %}"
    />
  </head>
  <body>
    <header class="logo">
      <img src="{% static 'assets/image/logo.svg' %}" alt="logo-nutriDigital" />
    </header>

    <section class="cadastro-container">
      <div class="cadastro-card">
        <div class="icon">
          <img src="{% static 'assets/image/log-in.svg' %}" alt="login-icon" />
        </div>
        <h1>Cadastre-se</h1>
        <p>Crie sua conta para receber a sua dieta personalizada</p>
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <p class="message-item message-{{ message.tags }}">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <form action="{% url 'cadastro' %}" method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input
              type="email"
              name="email"
              placeholder="Seu melhor e-mail"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="password"
              name="senha"
              id="password"
              placeholder="Digite sua senha"
              required
            />
            <img
              src="{% static 'assets/image/eye-off.svg' %}"
              alt="olho-senha"
              id="togglePassword"
            />
          </div>
          <div class="input-field">
            <input
              type="password"
              name="confirmar_senha"
              id="confirmPassword"
              placeholder="Repita sua senha"
              required
            />
            <img
              src="{% static 'assets/image/eye-off.svg' %}"
              alt="olho-senha"
              id="toggleConfirmPassword"
            />
          </div>
          <button type="submit">Cadastre-se</button>
        </form>

        <p class="ja-cadastrado">
          Já possui cadastro? <a href="{% url 'login' %}">Fazer login</a>
        </p>
      </div>
    </section>

    <script src="{% static 'assets/js/olho-magico.js' %}"></script>
  </body>
</html>
