body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/image/gradiente.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  text-align: center;
  margin-bottom: 52px;
  margin-top: 32px;
}

.logo img {
  height: 100px;
  width: 100px;
}

h1 {
  font-family: fontBold;
  font-size: 28px;
  margin-bottom: 7px;
}

p {
  font-family: fontRegular;
  font-size: 18px;
  color: var(--cinza-texto);
  padding-bottom: 16px;
}

.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario-card {
  background-color: rgba(139, 195, 74, 10%);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  border: solid 1px rgba(245, 245, 245, 25%);
  padding: 20px 35px;
  text-align: center;
  width: 400px;
  color: var(--preto);
  height: 580px;
}

.input-field {
    position: relative;
    margin-bottom: 12px;
}

select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 16px;
  border: none;
  background-color: var(--branco-fumaca);
  color: var(--cinza-texto);
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 16px;
  border: none;
  background-color: var(--branco-fumaca);
  color: var(--cinza-texto);
  font-size: 16px;
}

option {
  width: 100%;
  padding: 12px 15px;
  border-radius: 16px;
  border: none;
  background-color: var(--branco-fumaca);
  color: var(--cinza-texto);
  font-size: 16px;
}

input::placeholder {
  color: var(--cinza-texto);
  font-size: 16px;
}

button{
  width: 100%;
  padding: 11px;
  border-radius: 16px;
  background-color: var(--laranja-botao);
  color: var(--branco-fumaca);
  font-size: 20px;
  font-family: fontRegular;
  cursor: pointer;
  margin-bottom: 12px;
  transition: backgorund-color 0.3s ease;
}

button:hover{
  background-color: var(--botao-hover)
}